p {
    color:white;
    background-color:blue
}

li {
    font-family: "DejaVu Sans", sans-serif;
    color:white;
    background-color:black
}

h2 {
    color:blue;
    background-color: brown;
}

.steps{
    color:brown;
    background-color: cyan;
}